.green_bg{
    background-color: #1abc9c;
}

.blue-bg{
    background-color: #3a546d;
}

.green_text{
    color: #1abc9c;
}

.dark_blue-bg{
    background-color: #2c3e50;
}

.white_text{
    color: white;
}

.w_line{
    width: 60px;
    height: 5px;
    border-radius: 15%;
    background-color: white;
}

.b_line{
    width: 60px;
    height: 5px;
    border-radius: 15%;
    background-color: black;
}
.my_smaller-wrapper{
    width: 70%;
}

button.white_text{
    border: white 1px solid;
    padding: .8rem;
}

div.white_text i{
    padding: .8rem;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: .2rem;
    border: 1px solid white;
}



/*
Small 	sm 	≥576px
Medium 	md 	≥768px
Large 	lg 	≥992px
*/