.green_bg{
    background-color: #1abc9c;
}

.white_text{
    color: white;
}

.w_line{
    width: 60px;
    height: 5px;
    border-radius: 15%;
    background-color: white;
}

.b_line{
    width: 60px;
    height: 5px;
    border-radius: 15%;
    background-color: black;
}


/*
Small 	sm 	≥576px
Medium 	md 	≥768px
Large 	lg 	≥992px
*/